<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	data-layout-decorate="template1">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


	<link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
</head>

<body>



	<div layout:fragment="content">
	



		<div class="container pt-3">
			<div class="form-group">
				<div class="jumbotron text-center">

					<h1>Chats</h1>
				</div>
				
				
					 <div class="modal fade" id="myModal" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Supprimer</h4>
									</div>
									<div class="modal-body">
										<p class="alert alert-success">Demande de creneau</p>
									</div>
									<div class="modal-footer">
									 <form th:action="@{/creneau}" th:object="${chatDateDtoObject}" method="post">
  <div class="form-group">
		<div class="input-group">
		<input type="text" class= "form-control"th:field="*{dateDto}" id="datetimepicker">
		
		<span class= "input-group-addon"><span class= "glyphicon glyphicon-calendar"></span></span>
		 <button type="submit" class="btn btn-primary">Submit</button>
			<script type = "text/javascript">
			$(function(){
				$('#datetimepicker').datetimepicker();
			});
			
			</script>
		</div>
		</div>
   
    
    
   
    
</form>
										
									</div>
								</div>
							</div>
						</div>

						<script>
							function modal_btn_click() {

								$('#myModal').modal({ show: true });
							}
						</script>
			
				</div>
				<br>
				<br> 
				<div class="border rounded" >
					<table class="table table-striped">
						<tr>
							<th scope="col">Competence</th>
							<th scope="col">utilisateur</th>
							<th scope="col">utilisateur1</th>
							<th scope="col">Statut</th>
							<th scope="col"></th>
							<th scope="col"></th>
							
						</tr>
						<tr th:each="chat:${pageChat}">
						<td th:text="${chat.competenceName}"></td>
						<td th:text="${chat.username}"></td>
							<td th:text="${chat.username1}"></td>
							<td th:text="${chat.statut}"></td>
								<td>	
								<input type="submit" class="btn btn-danger delBtn"  id="delBtn" value="Demande de creneau">
					</td>
					<td><a th:href="@{/messages(idChat=${chat.id},page=0,size=2)}"><input type="button"  id="${chat.id}" class="btn btn-primary" value="Messages" /></a></td>		
				</tr>
		</table>
</div>
<div>
<div th:if="${pageChat.totalPages > 0}"
    th:each="pageNumber : ${pageNumbers}" class="btn-group btn-group-toggle">
    <nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item"> <a class="btn btn-secondary" th:href="@{/chats(page=${pageNumber-1},size=${pageChat.size})}"
        th:text=${pageNumber}
        th:class="${pageNumber==pageChat.number} ? active"></a>
        </li>
        </ul>
        </nav>
</div>
	</div>
	</div>
	
	

	<div class="alert alert-success"th:if="${succes}" th:text="${succes}"role="alert" >
</div>
	

				</div>
				
				
			
	

</body>

</html>