<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	data-layout-decorate="template1">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

	<link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>

<body>



	<div layout:fragment="content">




		<div class="container pt-3">
			<div class="form-group">
				<div class="jumbotron text-center">

					<h1>Creneaux</h1>

					<div class="alert alert-success" th:if="${succes}" th:text="${succes}" role="alert"></div>
					<div class="alert alert-danger" th:if="${error}" role="alert" th:text="${error}"></div>

				</div>


			</div>

			<h2>Vos demandes</h2>
			
			<br>
			

			<div class="border rounded">

				<table class="table table-striped">
					<tr>

						<th scope="col">Demandé à </th>
						<th scope="col">Compétence</th>
						<th scope="col">Date</th>
						<th scope="col">Rendez-vous</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>

					</tr>

					<tr th:each="creneau:${pageCreneau}">


						<td th:text="${creneau.userRecoitName}"></td>
						<td th:text="${creneau.competenceName}"></td>
						<td th:text="${#dates.format(creneau.date, 'dd-MM-yyyy')}"></td>
						<td th:text="${#dates.format(creneau.date, 'HH:mm')}"></td>
						<td th:text="${creneau.statut}"></td>
						<td th:if="${creneau.statut == 'demande'}">
							
						</td>
						<td th:if="${creneau.statut == 'valide'}">
							<form method="post" th:action="@{/validateCreneau(idCreneau=${creneau.codeCreneau})}">
								<button type="submit" name="submit" value="value" class="btn btn-primary">valider la
									rencontre</button>

							</form>
						</td>
						<td th:if="${creneau.statut == 'passe'}"><a th:href="@{/avis(id=${creneau.codeCreneau})}"><input
									type="button" id="${creneau.codeCreneau}" class="btn btn-primary"
									value="laisser un avis" /></a></td>
<td th:if="${creneau.statut == 'cloturé'}"></td>
					</tr>

				</table>

			</div>
			<br>
			<div>
				<div th:if="${pageCreneau.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"
					class="btn-group btn-group-toggle">
					<nav aria-label="...">
						<ul class="pagination pagination-sm">
							<li class="page-item"> <a class="btn btn-secondary"
									th:href="@{/creneaux(page=${pageNumber-1},size=${pageCreneau.size})}"
									th:text=${pageNumber} th:class="${pageNumber==pageCreneau.number} ? active"></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<br>

			<h2>Les demandes de creneaux des utilisateurs</h2>


			<div class="border rounded">

				<table class="table table-striped">
					<tr>
						<th scope="col">Demandé par</th>
						<th scope="col">Compétence</th>
						<th scope="col">Date</th>
						<th scope="col">Rendez-vous</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>

					<tr th:each="creneau1:${pageCreneau1}">


						<td th:text="${creneau1.userDemandeName}"></td>
						<td th:text="${creneau1.competenceName}"></td>
						<td th:text="${#dates.format(creneau1.date, 'dd-MM-yyyy')}"></td>
						<td th:text="${#dates.format(creneau1.date, 'HH:mm')}"></td>
						<td th:text="${creneau1.statut}"></td>
						<td th:if="${creneau1.statut == 'passe'}"><a
								th:href="@{/avis(id=${creneau1.codeCreneau})}"><input type="button"
									id="${creneau.codeCreneau}" class="btn btn-primary" value="laisser un avis" /></a>
						</td>
<td th:if="${creneau1.statut == 'demande'}">
							<form method="post" th:action="@{/validateCreneau(idCreneau=${creneau1.codeCreneau})}">
								<button type="submit" name="submit" value="value"
									class="btn btn-primary">Valider</button>

							</form>
						</td>
						
						
						<td th:if="${creneau1.statut == 'valide'}">
							<form method="post" th:action="@{/validateCreneau(idCreneau=${creneau1.codeCreneau})}">
								<button type="submit" name="submit" value="value" class="btn btn-primary">valider la
									rencontre</button>

							</form>
							</td>
							<td th:if="${creneau1.statut == 'cloturé'}"></td>
						<!-- <td th:if="${requete.statut!='valide'}" ><form method="post" th:action="@{/valideRequete(idRequete=${requete.codeRequete})}"  >
	            <button type="submit" name="submit" value="value" class="btn btn-primary">Reserver</button>
	        </form> </td> -->
	        
	        
					</tr>

				</table>

			</div>

			<div>
				<div th:if="${pageCreneau1.totalPages > 0}" th:each="pageNumber1 : ${pageNumbers1}"
					class="btn-group btn-group-toggle">
					<nav aria-label="...">
						<ul class="pagination pagination-sm">
							<li class="page-item"> <a class="btn btn-secondary"
									th:href="@{/creneaux(page1=${pageNumber1-1},size=${pageCreneau1.size})}"
									th:text=${pageNumber1} th:class="${pageNumber1==pageCreneau1.number} ? active"></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>

</html>