<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	data-layout-decorate="template1">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

	<link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>

<body>
	<div layout:fragment="content">
		<div class="container pt-3">
			<div class="jumbotron text-center">
				<h1>Page d'erreur</h1>
				<div class="alert alert-success"th:if="${succes}" th:text="${succes}"role="alert"> </div>
				<div class="alert alert-danger" th:if="${error}" role="alert" th:text="${error}"></div>
			</div>
		</div>
	</div>
</body>