<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	data-layout-decorate="template1">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

	<link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>

<body>



	<div layout:fragment="content">
	



		<div class="container pt-3">
			<div class="form-group">
				<div class="jumbotron text-center">

					<h1>Messages</h1>
				</div>
		
				<div class="border rounded" >
				
					
					<table class="table table-striped">
						<tr>
							
							<th scope="col">utilisateur</th>
							<th scope="col">message</th>
							
							
						</tr>
						<tr th:each="message:${pageMessage}">
						<td th:text="${message.idUser}"></td>
							<td th:text="${message.content}"></td>
							
								
							
				</tr>
		
		</table>
		
</div>
<br>
		<div>
		<form th:action="@{/messages(idChat=${idChat})}"  th:object="${messageDto}" method="post">

	<br>
					 <input type="text" th:field="*{content}" id="content"  placeholder="message">
							

						</div>
						<br>

						<input type="submit" class="btn btn-primary" value="envoyer">
						<br>
						<br>

					</form>
					</div>
<div>
<div th:if="${pageMessage.totalPages > 0}"
    th:each="pageNumber : ${pageNumbers}" class="btn-group btn-group-toggle">
    <nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item"> <a class="btn btn-secondary" th:href="@{/messages(idChat=${idChat},page=${pageNumber-1},size=${pageMessage.size})}"
        th:text=${pageNumber}
        th:class="${pageNumber==pageMessage.number} ? active"></a>
        </li>
        </ul>
        </nav>
</div>
	</div>
	</div>
	</div>
	

	<div class="alert alert-success"th:if="${succes}" th:text="${succes}"role="alert" >
</div>
	

				</div>
				
				
			
	

</body>

</html>