<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	data-layout-decorate="template1">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

	<link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>

<body>



	<div layout:fragment="content">




		<div class="container pt-3">
			<div class="form-group">
				<div class="jumbotron text-center">

					<h1>Requêtes</h1>

					<div class="alert alert-success" th:if="${succes}" th:text="${succes}" role="alert"></div>
					<div class="alert alert-danger" th:if="${error}" role="alert" th:text="${error}"></div>
					


				</div>


				<h2>Les requêtes des utilisateurs </h2>
				<br>


				<div class="border rounded">

					<table class="table table-striped">
						<tr>
							<th scope="col">Compétence</th>
							<th scope="col">La requête est faite par</th>
							<th scope="col">Envoyé à</th>
							<th scope="col">Date</th>
							<th scope="col">Statut</th>
							<th scope="col"></th>

						</tr>

						<tr th:each="requete:${requetePage}">

							<td th:text="${requete.competenceNom}"></td>
							<td th:text="${requete.username}"></td>
							<td th:text="${#dates.format(requete.date, 'HH:mm')}"></td>
							<td th:text="${#dates.format(requete.date, 'dd-MM-yyyy')}"></td>
							<td th:text="${requete.statut}"></td>
							<td th:if="${requete.statut!='demande'}"></td>
							<td th:if="${requete.statut=='demande'}">
								<form method="post" th:action="@{/valideRequete(idRequete=${requete.codeRequete})}">
									<button type="submit" name="submit" value="value"
										class="btn btn-primary">Reserver</button>
								</form>
							</td>
						</tr>

					</table>

				</div>
				<br>

				<div>
					<div th:if="${requetePage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"
						class="btn-group btn-group-toggle">
						<nav aria-label="...">
							<ul class="pagination pagination-sm">
								<li class="page-item"> <a class="btn btn-secondary"
										th:href="@{/requetes(page=${pageNumber-1},size=${requetePage.size})}"
										th:text=${pageNumber} th:class="${pageNumber==requetePage.number} ? active"></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

				<h2>Vos Requêtes </h2>
				<br>

				<div class="border rounded">
					<table class="table table-striped">
						<tr>
							<th scope="col">Compétence</th>
							<th scope="col">La requête est adressée à</th>
							<th scope="col">Envoyé à</th>
							<th scope="col">Date</th>
							<th scope="col">Statut</th>


						</tr>

						<tr th:each="requete1:${requetePage1}">

							<td th:text="${requete1.competenceNom}"></td>
							<td th:text="${requete1.usernameComp}"></td>
							<td th:text="${#dates.format(requete1.date, 'HH:mm')}"></td>
							<td th:text="${#dates.format(requete1.date, 'dd-MM-yyyy')}"></td>
							<td th:text="${requete1.statut}"></td>

						</tr>

					</table>

				</div>

				<div>
					<div th:if="${requetePage1.totalPages > 0}" th:each="pageNumber : ${pageNumbers1}"
						class="btn-group btn-group-toggle">
						<nav aria-label="...">
							<ul class="pagination pagination-sm">
								<li class="page-item"> <a class="btn btn-secondary"
										th:href="@{/requetes(page1=${pageNumber-1},size1=${requetePage1.size})}"
										th:text=${pageNumber} th:class="${pageNumber==requetePage1.number} ? active"></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
</body>

</html>